<div class="section" id="jobs">
	<div class="alert alert-info text-right">
		<h1>WORK FOR CODESCIENCE</h1>
	</div>
	<div class="table-responsive table-striped">
  		<table class="table">
	        <thead>
				<tr>
					<th>Job</th>
					<th>Location</th>
					<th>Details</th>
				</tr>
	        </thead>
	        <tbody>
	        	<tr>
		            <td>AppExchange Product Manager</td>
		            <td>Chattanooga (preference), San Francisco, Atlanta, Los Angeles</td>
		            <td>(Show Details)</td>
	          	</tr>
	          	<tr>
	            	<td>Cloud Application Developer</td>
		            <td>Chattanooga (preference), San Francisco, Atlanta, Los Angeles</td>
		            <td>(Show Details)</td>
	          	</tr>
	          	<tr>
		            <td>Project Manager</td>
		            <td>Chattanooga (preference), San Francisco, Atlanta, Los Angeles</td>
		            <td>(Show Details)</td>
	          	</tr>
	          	<tr>
		            <td>Solution Architect</td>
		            <td>Chattanooga (preference), San Francisco, Atlanta, Los Angeles</td>
		            <td>(Show Details)</td>
	          	</tr>
	          	<tr>
		            <td>Recruiter of All Trades</td>
		            <td>Chattanooga (preference), San Francisco, Atlanta, Los Angeles</td>
		            <td>(Show Details)</td>
	          	</tr>
	        </tbody>
      </table>
	</div>
</div>