<div class="section">
	<div class="alert alert-info text">
		<h1>What</h1>	
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h4>What we do is Force.com platform development, AppExchange product development, and CRM implementation and business process consulting, but how we do it is way more interesting. We work on all levels of projects, but we enjoy especially challenging terrain. It’s important that our customers walk away with their expectations surpassed for a price that works. We also like to have some fun along the way.</h4><br/><br/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 text-center">
				<img data-src="holder.js/140x140" class="img-circle" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
				<h3>FORCE.COM PLATFORM DEVELOPMENT</h3>
				<p class="text-justify">At our core, we’re a Force.com development shop. We do custom platform development at any level of technical difficulty. Projects involving Apex, Visualforce, portals, and Sites are our specialty. Just define the requirements and we'll use our expertise to help you leverage the Force.com platform quickly and powerfully.</p>
			</div>
			<div class="col-xs-12 col-md-4 text-center">
				<img data-src="holder.js/140x140" class="img-circle" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
				<h3>APPEXCHANGE PRODUCT DEVELOPMENT</h3>
				<p class="text-justify">We use our Force.com domain knowledge and technical expertise to develop applications for companies to deploy on the AppExchange. Whether your product adds functionality to Salesforce, integrates your existing product with the Force.com platform, or just does something cool, we want to build it.</p>
			</div>
			<div class="col-xs-12 col-md-4 text-center">
				<img data-src="holder.js/140x140" class="img-circle" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;">
				<h3>CRM IMPLEMENTATION &amp; BUSINESS CONSULTING</h3>
				<p class="text-justify">Our skilled project managers can set up sales, service, and other business processes for a diverse range of companies, both in size and offering. From basic implementations to complex projects extending Salesforce.com’s CRM capabilities, we approach each project with creativity, efficiency, and a keen eye for detail.</p>
			</div>
		</div>
	</div>
</div>